[submodule "libiconv"]
	path = libiconv
	url = https://github.com/glandu2/libiconv
	branch = master
[submodule "liblua"]
	path = liblua
	url = https://github.com/glandu2/liblua
	branch = master
[submodule "libuv"]
	path = libuv
	url = https://github.com/glandu2/libuv
	branch = feature/cmake_support
[submodule "zlib"]
	path = zlib
	url = https://github.com/glandu2/zlib
	branch = minimal
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
	branch = master
